form {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 10vh;
}

div {
    padding: 10px;
}

form input {
    float: right;
}

form select {
    float: right;
}
